<div class="container-fluid text-center mt-3" style="min-height: 540px">
        <h1>Welcome to The Great Digital Services! Thank You! Visit Again!</h1>
        <img class="card-img my-5" src="/logo.png" />
        <div style="background: linear-gradient(1.35turn, #003366, #7dbcde);" class="py-5 mb-3">
                <a target="_blank" href="/banks" class="d-flex justify-content-center">
                        <h2 class="w-50 bg-dark py-2 border rounded-3 text-warning text-center">Bank</h2>
                </a>
                <div class="row d-flex justify-content-center cursor-pointer">
                        <div *ngFor="let bank of banks; let i= index"
                                class="col-xl-3 col-lg-4 col-md-6 m-1 d-flex align-items-center justify-content-center border rounded-3 bg-dark p-0"
                                style="min-height:250px">
                                <a target="_blank" [href]="'/banks/'+bank.bank">
                                        <!-- style="background-image: url('background-img.jpg'); background-position: center; background-repeat: no-repeat; background-size: cover;" -->
                                        <h4 class="w-100 text-white">
                                                <img class="logo-img border border-1 rounded-3"
                                                        [src]="sanitizer.bypassSecurityTrustUrl(bank.logoUrl)"
                                                        [alt]="bank.bank" />
                                                <br />
                                                <br />
                                                <span class="text-warning pt-5">{{bank.bank}}</span>
                                        </h4>
                                </a>
                        </div>
                </div>
                <a target="_blank" href="/hostings" class="d-flex justify-content-center">
                        <h2 class="w-50 bg-dark py-2 my-5 border rounded-3 text-warning text-center">Hosting</h2>
                </a>
                <a target="_blank" href='https://hostinger.in?REFERRALCODE=JEBASHUDA4AK'>
                        <div class="row d-flex justify-content-center cursor-pointer">
                                <div class="col-xl-8 col-lg-9 col-md-11 d-flex align-items-center justify-content-center border rounded-3 bg-dark p-0"
                                        style="min-height:250px">
                                        <!-- style="background-image: url('background-img.jpg'); background-position: center; background-repeat: no-repeat; background-size: cover;" -->
                                        <img class="border border-1 rounded-3 m-5"
                                                [src]="sanitizer.bypassSecurityTrustUrl('https://cdn.grabon.in/gograbon/images/web-images/uploads/1735810325447/hostinger-coupon-codes%20.jpg')"
                                                [alt]="'Hostinger'" />
                                        <h1 class="w-100 text-white">
                                                <span class="text-warning">Hostinger</span>
                                        </h1>
                                </div>
                        </div>
                </a>
        </div>
        <ng-container *ngIf="isBrowser && structuredDataSet">
                <div [innerHTML]="structuredData"></div>
        </ng-container>
</div>