.card-img {
 width: 840px;
  height: 400px;
  align-self: center;
  margin-top: 30px;
}
.brand {
  font-size: 14px;
}
.product-title {
  font-size: 11px;
}
.title {
  font-size: 12px;
}
.category-text {
  font-size: 10px;
}
.size-label {
  font-size: 10px !important;
}

mat-option {
  background: aliceblue !important;
}

#brands-panel {
  padding: 0 !important;
}

.bg-info {
  background: #3498db !important;
}

.no-found-text {
    font-size:15px;
}

.logo-img {
  max-width: 150px;
  align-self: center;
}