<div class="container my-5" style="min-height: 395px">
    <h1 class="py-2">Disclaimer</h1>
    <p>
        This website <a class="text-primary"
        target="_blank"
            href="https://thegreatdigitalservices.com/">https://thegreatdigitalservices.com/</a> is designed to run for Amazon
        Affiliate Program As an Amazon Associate I earn from qualifying purchases, Product prices and availability
        are accurate as of the date/time indicated and are subject to change. Any price and available information
        displayed on <a class="text-primary" 
        target="_blank"
        href="https://www.amazon.in/">https://www.amazon.in/</a> at the time of
        purchase will apply to
        the
        purchase of this product.
    </p>
    <p class="text-danger">
        DISCLAIMER: CERTAIN CONTENT THAT APPEARS ON THIS SITE COMES FROM AMAZON SELLER SERVICES
        PRIVATE LIMITED. THIS CONTENT IS PROVIDED 'AS IS' AND IS SUBJECT TO CHANGE OR REMOVAL AT ANY TIME, Amazon and
        the
        Amazon logo are tradenarks of <a class="text-primary" href="https://www.amazon.in/" target="_blank">Amazon.com, Inc.</a> or its
        affiliates
    </p>
    <p>
        If you encounter differences for various operating systems or devices, please be aware that some of our
        solutions may not work universally.
    </p>
    <p>
        We assure you that we do not publish false or spam content, and we strive to provide accurate information. If
        you experience issues with any of our solutions, there may be specific reasons for it. In such cases, feel free
        to contact us via the provided email.
    </p>
    <p>Sincerely,</p>

    <p>The Great Digital Services Team</p>
</div>