<div class="container my-5" style="min-height: 460px">
    <h1 class="py-3">Contact</h1>
    <p>We're thrilled to hear from you! Whether you have questions about our Digital Services
        or simply want to drop a friendly "hello," feel free to get in touch with us.</p>
    <p>Your feedback and inquiries
        are important to us.</p>
    <p>Contact Information</p>
    <p>Email: <a href="mailto:contact.thegreatproducts@gmail.com" target="_blank"><strong>contact.thegreatproducts&#64;gmail.com</strong></a></p>
</div>