.links {
  font-size: 18px !important;
  text-decoration: none !important;
  color: dodgerblue;
}

.card-img {
  width: 740px;
  height: 370px;
  align-self: center;
}

@media (max-width: 1280.98px) {
  .links {
    font-size: 14px !important;
  }
}

@media (max-width: 858.98px) {
  .links {
    font-size: 16px !important;
  }
}

@media (max-width: 786.98px) {
  .links {
    font-size: 14px !important;
  }
}

@media (max-width: 540.98px) {
  .links {
    font-size: 10px !important;
  }
}
